preload = {{ .chezmoi.sourceDir }}/../assets/wallpaper1.jpg

wallpaper = {{ .monitors.left }},{{ .chezmoi.sourceDir }}/../assets/wallpaper1.jpg
wallpaper = {{ .monitors.right }},{{ .chezmoi.sourceDir }}/../assets/wallpaper1.jpg

splash = false
