preload = {{ .chezmoi.sourceDir }}/../wallpaper/1.jpg

wallpaper = {{ .monitors.left }},{{ .chezmoi.sourceDir }}/../wallpaper/1.jpg
wallpaper = {{ .monitors.right }},{{ .chezmoi.sourceDir }}/../wallpaper/1.jpg

splash = false
